.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
*~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
*.o
*.la
*.lo
*.stamp
.libs/
src/status-area-applet-clock.c
src/status-area-applet-battery.c
*.bak
.anjuta_sym_db.db
.anjuta/
